<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet"  href="/css/login.css">
</head>
<body>
    <form action="" method="post">
        <div class="input_container">
            <label for="emailOrUsernameField">Nome</label>
            <input name="emailOrUsernameField" type="text" placeholder="Digite email ou username ">
        </div>
        
        <div class="input_container">
            <label for="password">Senha</label>
            <input name="password" type="password" placeholder="Digite sua senha">
        </div>
        <span class="error">{{error}}</span>
        
        <input class="button" type="submit" value="Entrar">
    </form>
</body>
</html>