<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet"  href="/css/login.css">
</head>
<body>
    <form action="" method="post">
        <label for="emailOrUsernameField"></label>
        <input name="emailOrUsernameField" type="text" placeholder="Digite email ou username ">
        <label for="password"></label>
        <input name="password" type="password" placeholder="Digite sua senha">
        <span>{{error}}</span>
        
        <input type="submit" value="Entrar">
    </form>
</body>
</html>