<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro</title>
<link rel="stylesheet"  href="/css/registre.css">
</head>
<body>
<form action="" method="post">
<label for="username"></label>
<input name="username" type="text" placeholder="Digite o nome de usuário">
<span>{{userError}}</span>

<label for="email"></label>
<input name="email" type="email" placeholder="Digite seu email">
<span>{{emailError}}</span>

<label for="password"></label>
<input name="password" type="password" placeholder="Digite sua senha">
<label for="ConfirmPassword"></label>
<input name="ConfirmPassword" type="password" placeholder="Confirme sua senha">
{{#passwordError}}
<ul>
<li>{{.}}</li>
</ul>
{{/passwordError}}


<input type="submit" value="Entrar">
</form>
</body>
</html>